/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Permanent+Marker:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* GLOBAL STYLES */

:root {
  --font-primary: 'Permanent Marker', sans-serif;
  --font-secondary: 'Kanit', serif;
  --font-code: 'Permanent Marker', monospace;
  --bg-color: #222256;
  --font-color: #ffffff;
  --btn-bg-color: #ffffff;
  --btn-bg-color-secondary: #ff0ad9;
  --accent-color: #35cc34;
  --accent-color-secondary: #ffffff;
  --header-shadow: #000 0px 0px 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--font-color);
  font-family: var(--font-primary);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 2rem;
}

/* HEADER */

header {
  box-shadow: var(--header-shadow);
  background-color:#030033
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: .5rem;
  align-items: center;
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 6px 6px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  box-shadow: none;
}

.btn2 {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color-secondary);
  color: var(--font-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 6px 6px 0 0 var(--accent-color-secondary);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}
.btn2:hover {
  box-shadow: none;
}

.wallet-btn {
  border-radius: 5rem;
  margin-left: 2rem;
  border-color: transparent;
}

.hero-btn {
  display: inline-block;
  line-height: 56px;
  padding: 0 30px;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all .3s ease;
  border-radius: 4px;
  box-shadow: 4px 4px 0 0 currentColor;
}

.hero-btn2 {
  display: inline-block;
  line-height: 56px;
  padding: 0 30px;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all .3s ease;
  border-radius: 4px;
  box-shadow: 4px 4px 0 0 currentColor;
}

.btn-space1 {
  padding: 8px;
}

.btn-space2 {
  padding: 8px;
}

/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}

.news-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.news-section ul {
  display: flex;
  gap: 2rem
}
.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.countdown ul {
  display: flex;
  gap: 2rem
}
.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
}
.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-secondary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4  px 4px 0 0;
}
.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.countdown h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.countdown p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  margin-bottom: 2rem;
  text-align: center;
}

/* OWNER STYLES */

.owner-status {
  font-size: 2rem;
  text-align: center;
}

.news-content h6 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 2rem 0;
  font-size: 2rem;
  text-align: center;
}

.team-header h2 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: .3rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.team-header p {
  font-family: var(--font-secondary);
  font-size: 16px;
  letter-spacing: .4rem;
  padding: 8px;
}

/* Two columns side by side */
.column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.team-containter {
  padding: 0 26px;
  margin-left: auto;
  margin-right: auto;
}

.team-h2 {
  text-shadow: 2px 2px 0 var(--btn-bg-color-secondary);
  font-style: italic;
  margin: .3rem 0;
  font-size: 1.5rem;
  text-align: center;
}

.title {
  font-family: var(--font-secondary);
  text-align: center;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #030033;
  font-family: var(--font-secondary);
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: var(--btn-bg-color-secondary);
}

.card:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/* MEDIA QUERIES */


@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }
  .wallet-btn {
    margin-left: 0;
    padding: 1rem;
    max-width: 8rem;
  }
  .countdown h1 {
    font-size: 2rem;
  }
  .countdown p {
    font-size: 1rem;
  }
}
 
.footer-bottom {
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  font-family: var(--font-secondary);
}

.preview {
  display: block;
  margin-left: auto;
  margin-right: auto;
}